{{ define "main" }}

<!--============================
=            Banner            =
=============================-->
{{ if site.Data.homepage.banner.enable}}
{{ with site.Data.homepage.banner}}
<section class="banner bg-banner-one overlay">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <!-- Content Block -->
        <div class="block">
          <!-- Coundown Timer -->

          {{with .heading}}<h1>{{ . | markdownify }}</h1>{{end}}
          {{with .heading_2}}<h2>{{ . | markdownify }}</h2>{{end}}
          <div class="dateAndLocation">
            <h6>{{ .date | markdownify }}</h6>
            <h6>{{ .location | markdownify }}</h6>
          </div>


          <!-- Action Button -->
          {{ if .button.enable }}
          {{ with .button }}
          <a href="{{ .link | absURL }}" class="btn btn-white-md">{{ .label }}</a>
          {{ end }}
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!--====  End of Banner  ====-->

<!--===========================
=            About            =
============================-->
{{ if site.Data.homepage.about.enable }}
{{ with site.Data.homepage.about }}
<section class="section about">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 align-self-center">
        <div class="image-block bg-about">
          <img class="img-fluid" src="{{ .image | absURL }}">
        </div>
      </div>
      <div class="col-lg-8 col-md-6 align-self-center">
        <div class="content-block">
          <h2>{{.title | markdownify}}</h2>
          <div class="description-one">
            {{ .content | markdownify}}
          </div>
          {{/* <ul class="list-inline">
            {{ if .button_solid.enable }}
            {{ with .button_solid }}
            <li class="list-inline-item">
              <a href="{{ .link | absURL }}" class="btn btn-main-md">{{.label}}</a>
            </li>
            {{ end }}
            {{ end }}
            {{ if .button_outline.enable }}
            {{ with .button_outline }}
            <li class="list-inline-item">
              <a href="{{ .link | absURL }}" class="btn btn-transparent-md">{{.label}}</a>
            </li>
            {{ end }}
            {{ end }}
          </ul> */}}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!--====  End of About  ====-->

<!--==============================
=            Speakers            =
===============================-->

<section class="section speakers bg-speaker overlay-lighter">
  {{ if site.Data.homepage.members.enable }}
  <div class="container">
    <div class="row">
      <div class="col-12">
        <!-- Section Title -->
        {{ with site.Data.homepage.members }}
        <div class="section-title white">
          <h3>{{.title | markdownify }}</h3>
        </div>
        {{ end }}
      </div>
    </div>
    <div class="row">
      {{ range (where site.RegularPages "Section" "member") }}
      <div class="col-lg-4 col-md-4 col-sm-6">
        <!-- Speaker 1 -->
        <div class="speaker-item">
          <div class="image">
            <img src="{{ .Params.image | absURL }}" alt="{{ .Title }}" class="img-fluid img_width">
          </div>
          <div class="content text-center">
            <h5><a href="{{ .Permalink }}">{{.Title }}</a></h5>
            <h6>{{ .Params.identity | markdownify }}</h6>
          </div>
        </div>
      </div>
      {{end}}
    </div>
  </div>
  {{end}}

  {{ if site.Data.homepage.speakers.enable }}
  <div class="container">
    <div class="row">
      <div class="col-12">
        <!-- Section Title -->
        {{ with site.Data.homepage.speakers }}
        <div class="section-title white">
          <h3>{{.title | markdownify }}</h3>
        </div>
        {{ end }}
      </div>
    </div>
    <div class="row">
      {{ range (where site.RegularPages "Section" "speaker") }}
      <div class="col-lg-4 col-md-4 col-sm-6">
        <!-- Speaker 1 -->
        <div class="speaker-item">
          <div class="image">
            <img src="{{ .Params.image | absURL }}" alt="{{ .Title }}" class="img-fluid img_width">
          </div>
          <div class="content text-center">
            <h5><a href="{{ .Permalink }}">{{.Title }}</a></h5>
            <h6>{{ .Params.identity | markdownify }}</h6>
          </div>
        </div>
      </div>
      {{end}}
    </div>
  </div>

</section>
{{end}}

<!--====  End of Speakers  ====-->

<!--==============================
=            Schedule            =
===============================-->
{{ if site.Data.homepage.tab.enable }}
{{ with site.Data.homepage.tab }}
<section class="section schedule">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title">
          <h3>{{.title | markdownify}}</h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="schedule-tab">
          <ul class="nav nav-pills text-center">
            {{ range $i,$p:= .tablist }}
            <li class="nav-item">
              <a class="nav-link {{if eq $i 0}} active {{end}}" href="#{{.name|urlize}}" data-toggle="pill">
                {{.name}}
                <h5>{{ .title }}</h5>
              </a>
            </li>
            {{ end }}
          </ul>
        </div>
        <div class="schedule-contents bg-schedule">
          <div class="tab-content" id="pills-tabContent">
            {{ range $i,$p:= .tablist }}
            <div class="tab-pane fade {{if eq $i 0}}show active{{end}} schedule-item" id="{{.name | urlize}}">
              <!-- Headings -->
              <h4>主持：{{ .host }}</h4>
              <ul class="m-0 p-0">
                <li class="headings">
                  <div class="time">时间</div>
                  <div class="speaker">演讲人/团队</div>
                  <div class="subject">主题</div>
                </li>
                <!-- Schedule Details -->
                {{ range .tablist_items }}
                <li class="schedule-details">
                  <div class="block">
                    <!-- time -->
                    <div class="time">
                      <i class="fa fa-clock-o"></i>
                      <span class="time">{{ .time }}</span>
                    </div>
                    <!-- Speaker -->
                    <div class="speaker">{{.speaker}}</div>
                    <!-- Subject -->
                    <div class="subject">{{ .subject }}</div>
                    <!-- Venue -->
                  </div>
                </li>
                {{ end }}
              </ul>
            </div>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!--====  End of Schedule  ====-->

<!--================================
=            News Posts            =
=================================-->

<section class="news section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title">
          <h3>大会相关活动</h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-8 col-10 m-auto">
        <div class="blog-post">
          <div class="post-thumb">
            <a href="news-single.html">
              <img src="images/news/post-thumb-one.jpg" alt="post-image" class="img-fluid">
            </a>
          </div>
          <div class="post-content">
            <div class="date">
              <h4>20<span>Oct</span></h4>
            </div>
            <div class="post-title">
              <h2><a href="news-single.html">港澳（喀什）爱国青年联合会成立仪式</a></h2>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-8 col-10 m-auto">
        <div class="blog-post">
          <div class="post-thumb">
            <a href="news-single.html">
              <img src="images/news/post-thumb-two.jpg" alt="post-image" class="img-fluid">
            </a>
          </div>
          <div class="post-content">
            <div class="date">
              <h4>20<span>Oct</span></h4>
            </div>
            <div class="post-title">
              <h2><a href="news-single.html">美国麻省大学中国校友会成立仪式</a></h2>
            </div>
            {{/* <div class="post-meta">
              <ul class="list-inline">
                <li class="list-inline-item">
                  <i class="fa fa-user-o"></i>
                  <a href="#">Admin</a>
                </li>
                <li class="list-inline-item">
                  <i class="fa fa-heart-o"></i>
                  <a href="#">350</a>
                </li>
                <li class="list-inline-item">
                  <i class="fa fa-comments-o"></i>
                  <a href="#">30</a>
                </li>
              </ul>
            </div> */}}
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 m-md-auto col-sm-8 col-10 m-auto">
        <div class="blog-post">
          <div class="post-thumb">
            <a href="news-single.html">
              <img src="images/news/yuanzhuo.png" alt="post-image" class="img-fluid">
            </a>
          </div>
          <div class="post-content">
            <div class="date">
              <h4>20<span>Oct</span></h4>
            </div>
            <div class="post-title">
              <h2><a href="news-single.html">圆桌论坛</a></h2>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 m-md-auto col-sm-8 col-10 m-auto">
        <div class="blog-post">
          <div class="post-thumb">
            <a href="news-single.html">
              <img src="images/news/post-thumb-three.jpg" alt="post-image" class="img-fluid">
            </a>
          </div>
          <div class="post-content">
            <div class="date">
              <h4>20<span>Oct</span></h4>
            </div>
            <div class="post-title">
              <h2><a href="news-single.html">喀什市文旅及招商引资活动宣传</a></h2>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 m-md-auto col-sm-8 col-10 m-auto">
        <div class="blog-post">
          <div class="post-thumb">
            <a href="news-single.html">
              <img src="images/news/yuanjiangzhanshi.png" alt="post-image" class="img-fluid">
            </a>
          </div>
          <div class="post-content">
            <div class="date">
              <h4>20<span>Oct</span></h4>
            </div>
            <div class="post-title">
              <h2><a href="news-single.html">援疆项目展示</a></h2>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 m-md-auto col-sm-8 col-10 m-auto">
        <div class="blog-post">
          <div class="post-thumb">
            <a href="news-single.html">
              <img src="images/news/post-thumb-three.jpg" alt="post-image" class="img-fluid">
            </a>
          </div>
          <div class="post-content">
            <div class="date">
              <h4>20<span>Oct</span></h4>
            </div>
            <div class="post-title">
              <h2><a href="news-single.html">Laurance Xu: 时装秀/印象喀什</a></h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!--===========================================
=            Call to Action Ticket            =
==================================
==========-->
{{ if site.Data.homepage.call_to_action.enable }}
{{ with site.Data.homepage.call_to_action }}
<section class="cta-ticket bg-ticket overlay-dark">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <!-- Get ticket info -->
        <div class="content-block">
          <h2>{{ .title | markdownify }}</h2>
          <p>{{ .content | markdownify }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="image-block"><img src="{{.image | absURL }}" alt="" class="img-fluid"></div>
</section>
{{ end }}
{{ end }}
<!--====  End of Call to Action Ticket  ====-->

<!--==============================
=            Sponsors            =
===============================-->

{{ if site.Data.homepage.sponsors.enable }}
{{ with site.Data.homepage.sponsors }}
<section class="sponsors section bg-sponsors overlay-white">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title">
          <h3>{{.title | markdownify }}</h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        {{range .sponsor_group }}
        <!-- Title -->
        <div class="sponsor-title text-center">
          <h5>{{ .name | markdownify }}</h5>
        </div>
        <div class="block text-center">
          <!-- Sponsors image list -->
          <ul class="list-inline sponsors-list">
            {{ range .sponsor_item }}
            <li class="list-inline-item bott">
              <div class="image-block text-center">
                {{/* <a href="{{ .link | safeURL }}"> */}}
                  <img src="{{ .logo | absURL }}" alt="{{.name}}" class="img-fluid">
                  {{/* </a> */}}
              </div>
              <p>{{ .name }}</p>
            </li>
            {{ end }}
          </ul>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!--====  End of Sponsors  ====-->

<!--====  End of News Posts  ====-->


{{ end }}